* {
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin: 3px;
  padding: 3px;
}

button {
  cursor: pointer;
  margin: 5px;
  font-size: 18px;
}
